<div class="modal-dialog rightP" id="myModal" style="display: none; top: -50%; z-index: 10;margin-left: 20%;">
    <div class="modal-content">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
            <h4 class="modal-title" id="myModalLabel">أقسام الدار</h4>
        </div>
        <div class="modal-body">
            <ul class="infolist">
                <li>
                    <a href="/africano" style="margin-bottom: 3%;">
                        أفريكانو بارك
                    </a>
                </li>
                <li>
                    <a href="/pool" style="margin-bottom: 3%;">
                        حمام السباحة
                    </a>
                </li>
                <li>
                    <a href="/clara" style="margin-bottom: 3%;">
                        مطعم الكلارا
                    </a>
                </li>
                <li>
                    <a href="/lola" style="margin-bottom: 3%;">
                        مطعم اللؤلؤة
                    </a>
                </li>
                <li>
                    <a href="/shalehat" style="margin-bottom: 3%;">
                        شاليهات اللؤلؤة
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: left;" onclick="var modal = document.getElementById('myModal'); modal.style.display = 'none';">أغلق</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->

<div class="left-panel-container rightP">
    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
            المواقع الإلكترونية
        </div>
        <div class="panel-body" style="color: black;">
            <ul class="nav" id="side-menu">
                  
                <li style="text-align: right;">
                    <a target="_blank" href="http://www.infonet.mil"style="padding-left: 0%;font-size: 14px;padding-right: 0%;">الشبكة العسكرية</a>
                </li>

            </ul>
        </div>
</div>
<div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
            إصدارات إعلامية وصحفية
        </div>
        
    <div class="panel-body">
        <ul class="nav" id="side-menu">
            <li style="text-align: right;">
            <a target="_blank" href="http://www.infonet.mil/AFMICWebsite/issues_All.aspx?id=22"style="padding-left: 0%;font-size: 14px;padding-right: 0%;">  التقرير الإعلامى اليومى
            </a>
            </li>
            <li style="text-align: right;">
            <a target="_blank" href="http://www.infonet.mil/AFMICWebsite/issues_All.aspx?id=20"style="padding-left: 0%;font-size: 14px;padding-right: 0%;">
                جريدة القوات المسلحة
            </a> 
         </li>
        </ul>

    </div>

</div> 
    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                جهات خدمية
            </div>
            <div class="panel-body">
                 
                    <ul class="nav" id="side-menu">
                            <li style="text-align: right;">
                                    <a target="_blank" href="http://www.infonet.mil/MilSites/5Edaraat/officres/edara_site_intro.html" style="padding-left: 0%;font-size: 14px;padding-right: 0%;">
                                    إدارة شئون ضباط ق.م </a>
                                </li>
                        <li style="text-align: right;">
                            <a target="_blank" href="http://www.infonet.mil/MilSites/5Edaraat/Nawady/activities.aspx" style="padding-left: 0%;font-size: 14px;padding-right: 0%;">
                                إدارة النوادى والفنادق </a>
                                </li>
                        <li style="text-align: right;">
                                <a target="_blank" href="http://www.infonet.mil/MilSites/5Edaraat/segelat/"style="padding-left: 0%;font-size: 13.5px;padding-right: 0%;">
                                    إدارة السجلات العسكرية </a>
                                </li>
                        <li style="text-align: right;">
                            <a target="_blank" href="http://www.infonet.mil/MilSites/2Hayaat/tanzem/index2.htm"style="padding-left: 0%;font-size: 14px;padding-right: 0%;">
                                هيئة تنظيم وإدارة </a>
                                </li>
                        <li style="text-align: right;">
                            <a target="_blank" href="http://www.infonet.mil/MilSites/2Hayaat/tadreeb/"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> هيئة تدريب ق.م </a>
                                </li>
                        <li style="text-align: right;">
                            <a target="_blank" href="http://www.infonet.mil/MilSites/7Centers/eskan/default.htm"style="padding-left: 0%;font-size: 13px;padding-right: 0%;"> صندوق إسكان أفراد ق.م </a>
                                </li>
                        <li style="text-align: right;">
                            <a target="_blank" href="http://www.infonet.mil/MilSites/7Centers/Insurance/index.html"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> صندوق التأمين الخاص </a>
                                </li>   
                        <li style="text-align: right;">
                            <a target="_blank" href="http://www.infonet.mil/MilSites/7Centers/galaa/index.htm"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> مؤسسة صندوق الجلاء </a>
                                </li>                
                    </ul>
                </div>
    </div>
    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
            الوسائط المتعددة
        </div>
        <div class="panel-body">
            <ul class="nav" id="side-menu">
                <li style="text-align: right;">
                    <a target="_blank" href="http://multimedia.afmic.mil/quran.html"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> القران الكريم </a>
                </li>
                <li style="text-align: right;">
                    <a target="_blank" href="http://multimedia.afmic.mil/songs.html"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> أغانى وطنية </a>
                </li>
                <li style="text-align: right;">
                    <a target="_blank" href="http://multimedia.afmic.mil/rev30.html"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> ثورة ٣٠ يونيو
                        ٢٠١٣ </a>
                </li>

                <li style="text-align: right;">
                    <a target="_blank" href="http://multimedia.afmic.mil/6oct.html"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> حرب ٦ أكتوبر ١٩٧٣
                    </a>
                </li>
                <li style="text-align: right;">
                    <a target="_blank" href="http://multimedia.afmic.mil/rev23.html"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> ثورة ٢٣ يوليو
                        ١٩٥٢ </a>
                </li>
                <li style="text-align: right;">
                    <a target="_blank" href="http://multimedia.afmic.mil/rev25.html"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> ثورة ٢٥ يناير
                        ٢٠١١ </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
            دروس تعليمية </div>
        <div class="panel-body">
            <ul class="nav" id="side-menu">
                <li style="text-align: right;">
                    <a target="_blank" href="http://edu.infonet.mil/Maharat.aspx"style="padding-left: 0%;font-size: 13.5px;padding-right: 0%;">مهارات القتال فى
                        المدن </a>
                </li>
                <li style="text-align: right;">
                    <a target="_blank" href="http://edu.infonet.mil/Bondokia.aspx"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> البندقية
                        الآلية </a>
                </li>
                <li style="text-align: right;">
                    <a target="_blank" href="http://edu.infonet.mil/mosdds.aspx"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> الطبنجة ٩
                        مم </a>
                </li>
                <li style="text-align: right;">
                    <a target="_blank" href="http://edu.infonet.mil/Bosla.aspx"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> البوصلة
                        المغناطيسية </a>
                </li>
                
                <li style="text-align: right;">
                    <a target="_blank" href="http://edu.infonet.mil/mapguide.aspx"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> توجيه الخريطة </a>
                </li>
                <li style="text-align: right;">
                    <a target="_blank" href="http://edu.infonet.mil/Esafat.aspx"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> الإسعافات الأولية
                    </a>
                </li>
                <li style="text-align: right;">
                        <a target="_blank" href="http://edu.infonet.mil/books.aspx"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> كتب إلكترونية
                        </a>
                    </li>
            </ul>
        </div>
    </div>
</div>


<script>
    function showModal() {
        var modal = document.getElementById("myModal");
        modal.classList.add = "in";
        modal.style.display = block;
        modal.style.top = "35%";
    }
</script>