<div class="right-panel-container rightP">
    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
            قادة الشئون المعنوية
        </div>
        <div class="panel-body">
            <ul class="nav" id="side-menu">
                <li style="text-align: right;">
                    <a href="/modeer"style="padding-left: 0%;font-size: 14px;padding-right: 0%;">السيد المدير</a>
                </li>
                <li style="text-align: right;">
                    <a target="_target" href="/qada"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> القادة السابقون </a>
                </li>   
            </ul>
        </div>
    </div>

    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
            موقع الشئون المعنوية
        </div>
        <div class="panel-body">
            <ul class="nav" id="side-menu">
                <li style="text-align: right;">
                    <a href="/"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> الصفحة الرئيسية </a>
                </li>
                <li style="text-align: right;">
                    <a href="/tel_index"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> دليل التليفونات </a>
                </li>

            <li style="text-align: right;">
                <a href="/nobtgyat"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> نوبتجيات الإدارة </a>
            </li>
                
            </ul>

                </ul>
        </div>
    </div>
    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
خدمات الشئون المعنوية 
        </div>
        <div class="panel-body" style="background: white;">
                <ul class="nav" id="side-menu">
                    
                    <li style="text-align: right;">
                        <a href="/monzfat"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> رحلات الحج والعمرة</a>
                    </li>
                    <li style="text-align: right;">
                        <a href="/5admat"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> الخدمات الترفيهة   </a>

                    </li>
                    <li style="text-align: right;">
                        <a href="/monasabat"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> قاعات المناسبات </a>
                    </li>
                    
                </ul>
            </div>
            
    </div>
    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
            منظومات
        </div>
        <div class="panel-body">
            <ul class="nav" id="side-menu">
                    <li style="text-align: right;">
                            <a target="_blank" onclick=" location.replace('http://10.10.10.132:8011/ohdapro');"style="padding-left: 0%;font-size: 11px;padding-right: 0%;"> منظومة عهدة نظم المعلومات </a>
                     </li>        
                        
                        <li style="text-align: right;">
                            <a target="_blank" href="http://www.mmc.mil/"style="padding-left: 0%;font-size: 14px;padding-right: 0%;"> MMC منظومة
                                 </a>
                        </li>
                        <li style="text-align: right;">
                            <a target="_blank" href="http://app.oma.mil/hayaa_web_app"style="padding-left: 0%;font-size: 14px;padding-right: 0%;">منظومة الأفراد </a>
                        </li>
                        <!-- <li style="text-align: right;"> 
                            <a target="_blank" href="http://172.172.3.10/fus"style="padding-left: 0%;font-size: 14px;padding-right: 0%;">منظومة حفظ ومتابعة المكاتبات  </a>
                        </li>-->
                        <li style="text-align: right;">
                            <a target="_blank" href="http://ocm.infonet.mil/Home"style="padding-left: 0%;font-size: 14px;padding-right: 0%;">منظومة ميكنة العمل اليومى لمراكز عمليات القوات المسلحة  </a>
                        </li>

                    </ul>   
            

                
                <!-- <li style="text-align: center;">
                    <a target="_blank" href="http://www.infonet.mil/AFMICWebsite/FTPFiles.aspx"> برامج
                        تهمك </a>
                </li> -->
                
            </ul>
        </div>
    </div>
    <div class="panel panel-danger" style="margin: 2rem;">
        <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
         موقع إدارة الشئون المعنوية على الشبكة العسكرية للمعلومات </div>
        <div class="panel-body">
            <a target="_blank" href="http://www.infonet.mil/MilSites/5Edaraat/MediaWebsite/HomePage.htm">
                <img src="../assets/Banner.jpg" style="width: 100%;">
            </a>
        </div>
    </div>
</div>