
                <div class="col-lg-8" style="text-align: center;">
                    <div style="width:85%;margin-top: 8%; margin-left: 15%" class="panel panel-default">
                        <div class="panel-heading" style="text-align: center; font-size: x-large; background-image: linear-gradient(to bottom, #2E1205, #EB010B); color: white">
                            خدمات الإدارة
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                                        <h4 class="panel-title">
                                            <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"
                                                href="#collapseOne">(دور خدمة (قائد منوب -ضابط عظيم </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <a target="_blank" href="../assets/nobtgyat/manob.PNG">
                                                <img width="500" height="727" src="../assets/nobtgyat/manob.PNG" alt="">
                                            </a>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #3b1d1e); color: white">
                                                <h4 class="panel-title">
                                                    <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapseThree">(دور خدمة (ضابط نوبتجى الإدارة - ضابط نوبتجى التعيين - ضابط خفيف الحركة </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <a target="_blank" href="../assets/nobtgyat/manob.PNG">
                                                        <img width="500" height="727" src="../assets/nobtgyat/manob.PNG" alt="">
                                                    </a> </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #3b1d1e); color: white">
                                                <h4 class="panel-title">
                                                    <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapseThree">مخطط اللجنة الشهرية</a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <a target="_blank" href="../assets/mo5tt.png">
                                                        <img width="500" height="727" src="../assets/mo5tt.png" alt="">
                                                    </a> </div>
                                            </div>
                                        </div>            
            

                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                