<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>إدارة الشئون المعنوية</title>

    <!-- Bootstrap Core CSS -->
    <link href="../assets/bootstrap.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../assets/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/sb-admin-2.css" rel="stylesheet">
    <link href="../assets/sliderStyles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../assets/customstyle.css">

    <!-- Custom Fonts -->
    <link href="../assets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <header>
        <% include partials\coverPhoto.ejs %>
    </header>
    <div class="site-wrapper ">
        <% include partials\marquee.ejs %>
    </div>

        <div class="row main red">
            <div class="container-fluid">
                <div class="col-lg-2  ">
                    <% include partials\leftColumn.ejs %>
                </div>
                <div class="main-content ">
                    <div class="col-lg-8 ">
                        <button class="back_button"><a href="/">
                            <i class="fa fa-home back"></i>
                        </a></button>
                        <div class="row">
                            <div class="custom-header">
                                <p>
                                    القادة السابقون
                                </p>
                            </div>
                            
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/1.jpg" alt="">
                                        </div>

                                        <div class="info">
                                            <p>الرتبة : قائد جناح</p>
                                            <p>الإسم : محمد وجيه اباظة</p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من 1952/8/1</span>  
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1954/6/11</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/2.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>الرتبة : بكباشي أركان حرب</p>
                                            <p>الإسم : محمد حمدي عاشور</p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1954/6/12</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1959/6/13</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/3.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>قائمقام</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>محمد السيد عبد الرحمن</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1959/6/14</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1966/4/20</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/4.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>عميد أركان حرب</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>حسني عبد المجيد</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1965/12/15</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1967/6/14</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/5.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>لواء</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>أحمد فؤاد علوى</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1965/5/1</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1967/6/12</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/6.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>لواء</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>علي أميـن مجاهد</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1967/6/13</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1968/6/12</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/7.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>مـقـــدم</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>رشدي إبراهيم حسان</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1967/6/15</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1968/6/14</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/8.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>لواء</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>أحمد راغب العيوطى</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1968/6/13</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1972/2/16</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/9.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>عميد أركان حرب</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>محمد جمال الدين على</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1968/6/15</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1971/6/29</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/10.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>لواء</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>عبد المجيد الشهدى</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1971/7/1</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1973/2/18</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/11.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>لواء</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>محمد عبد الفتاح العيسوى</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1975/5/25</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1978/9/30</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/12.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>فهيم شديد عفيفى</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1978/10/1</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1978/12/19</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/13.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>حسن حسين عبد الغنى</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1978/12/20</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1978/6/30</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/14.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>محمد جمال محمد صاحب</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1979/7/1</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1983/6/30</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/15.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>سميح التهامى حسن </span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1983/7/1</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1985/6/30</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/16.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>محمد جمال الدين شرف  </span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1985/7/1</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1988/6/30</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/17.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>محى الدين عباس حلمى</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1988/7/1</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1990/12/15</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/18.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>أحمد فؤاد السيد على</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1990/12/16</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1993/12/15</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/19.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>سمير سعيد محمود فرج</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1993/12/9</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>1999/11/27</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/20.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>أحمد محمود كامل أنيس</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>1999/12/28</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>2003/6/22</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/21.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>مصطفي عبد اللطيف سعيد</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>2003/6/23</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>2008/4/20</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/22.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء أ.ح</span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>إسماعيل محمد عتمان</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>2008/4/20</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>2012/1/30</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/23.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span>  لواء أ.ح </span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>أحمد ابو الدهب</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>2012/1/30</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>2012/11/29</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 qada">
                                <div class="qada-card">
                                    <div class="img_contianer">
                                        <div class="img-resizer">
                                            <img class="card-img" src="assets/qada/24.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <p>
                                                <span>الرتبة : </span>
                                                <span> لواء </span>
                                            </p>
                                            <p>
                                                <span>الإسم :</span>
                                                <span>محسن محمود على عبد النبى</span>
                                            </p>
                                            <p>
                                                <span>المدة:</span>
                                                <span>من</span>  
                                                <span>2012/11/30</span>
                                            </p>
                                            <p>
                                                <span>إلي</span>
                                                <span>2018/7/1</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 ">
                    <% include partials\rightColumn.ejs %>
                </div>
            </div>
        </div>
        <button onclick="goBack()" style="display: none;">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
</body>
<script src="../assets/sliderJs.js"></script>

</html>