<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>إدارة الشئون المعنويةة</title>

    <!-- Bootstrap Core CSS -->
    <link href="../assets/bootstrap.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../assets/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../assets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <header>
        <% include partials\coverPhoto.ejs %>
    </header>
    <div class="site-wrapper">
        <% include partials\marquee.ejs %>
        <div class="row">
            <div class="col-lg-2 ">
                <% include partials\leftColumn.ejs %>
            </div>
            <div class="main-content">
                <div class="col-lg-8" style="text-align: center; background: transparent;">
                    <table style="direction: rtl; margin-top: 8%; width: 85%;margin-top: 8%; margin-left: 15%">
                        <div class="custom-header-dar" style="margin-left: 30%;">
                            <p>
                                السادة المديرين السابقين لإدارة الشئون المعنوية </p>
                            </div>
                            <div class="panel panel-danger" style="margin: 2rem;">
                                <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                                 موقع إدارة الشئون المعنوية على الشبكة العسكرية للمعلومات </div>
                                <div class="panel-body">
                                    <a target="_blank" href="http://www.infonet.mil/MilSites/5Edaraat/MediaWebsite/HomePage.htm">
                                        <img src="../assets/Banner.jpg" style="width: 100%;">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="../assets/manager1.jpg" style="width: 250px; height: 250px; margin-left: 8px;">
                                </td>
                                <td>
                                    <img src="../assets/manager2.jpg" style="width: 250px; height: 250px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../assets/manager3.jpg" style="width: 250px; height: 250px; margin-left: 8px;">
                                </td>
                                <td>
                                    <img src="../assets/manager4.jpg" style="width: 250px; height: 250px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../assets/manager5.jpg" style="width: 250px; height: 250px; margin-left: 8px;">
                                </td>
                                <td>
                                    <img src="../assets/manager6.jpg" style="width: 250px; height: 250px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../assets/manager6.jpg" style="width: 250px; height: 250px; margin-left: 8px;">
                                </td>
                                <td>
                                    <img src="../assets/manager7.jpg" style="width: 250px; height: 250px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../assets/manager7.jpg" style="width: 250px; height: 250px; margin-left: 8px;">
                                </td>
                                <td>
                                    <img src="../assets/manager8.jpg" style="width: 250px; height: 250px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../assets/manager9.jpg" style="width: 250px; height: 250px; margin-left: 8px;">
                                </td>
                                <td>
                                    <img src="../assets/manager10.jpg" style="width: 250px; height: 250px;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../assets/manager11.jpg" style="width: 250px; height: 250px; margin-left: 8px;">
                                </td>
                                <td>
                                    <img src="../assets/manager12.jpg" style="width: 250px; height: 250px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2">
                    <% include partials\rightColumn.ejs %>
                </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="../assets/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <!-- <script src="../assets/bootstrap.min.css"></script> -->

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../assets/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../assets/sb-admin-2.js"></script>
</body>


</html>