<div style="width:85%;margin: 25px auto;" class="panel panel-default">
    <div class="panel-heading" style="text-align: center; font-size: x-large; background-image: linear-gradient(to bottom, #2E1205, #EB010B); color: white">
        النوبتجيات
    </div>
    
    <!-- .panel-heading -->
    <div class="panel-body">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                    <h4 class="panel-title">
                        <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseOne">(دور خدمة (قائد منوب- ضابط عظيم</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body" style="width: 800px;height: 500px;margin:auto ;">
                        <img width="800px" height="500px" src=<%="../assets/nobtgyat/" + nobatImgs.manob %> alt="">
                    </div>
                    <a href="/editnobtgya/manob">
                        <button style="float: left; margin-left: 2%;" type="button" class="btn btn-danger">تعديل</button><br><br>
                    </a>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                    <h4 class="panel-title">
                        <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"href="#collapseTwo">ضابط نوبتجي الإدارة</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body"  style="width: 800px;height: 500px;margin:auto ;" >
                        <img width="500" height="727" src=<%="../assets/nobtgyat/" + nobatImgs.dabetnob %> >
                    </div>
                    <a href="/editnobtgya/dabetnobtgy">
                        <button style="float: left; margin-left: 2%;" type="button" class="btn btn-danger">تعديل</button><br><br>
                    </a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #3b1d1e); color: white">
                    <h4 class="panel-title">
                        <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseThree">ضابط إدارى</a>
                    </h4>
                </div>
                <!--<div id="collapseThree" class="panel-collapse collapse in">
                    <div class="panel-body" style="width: 500px;height: 727px;margin:auto ;">
                        <img width="500" height="727" src=<%="../assets/nobtgyat/" + nobatImgs.dabeteda %> >
                    </div>
                    <a href="/editnobtgya/dabetedary">
                        <button style="float: left; margin-left: 2%;" type="button" class="btn btn-danger">تعديل</button><br><br>
                    </a>
                </div>
            -->
            </div>

        </div>
    </div>
    <!-- .panel-body -->
</div>
