
    <div class="custom-header-dar" style="margin:30px auto 20px auto!important;">
        <p>
            السيد مدير إدارة الشئون المعنوية </p>
    </div>
    <div style="margin:auto; width:400px;height:500px">
        <img src="../assets/modeer-abdelsalam.png" style="width: 400px; height: 500px;">
    </div>
    <div style="width: 100%;margin:auto;" class=" panel-default">
        <div class="panel-heading" style="text-align: center; font-size: x-large; background-image: linear-gradient(to bottom, #2E1205, #EB010B); color: white">
            السيرة الذاتية
        </div>
        <!-- .panel-heading -->
        <div class="panel-body box-shadow">
            <div class="panel-group ">
                <div class="panel panel-default">
                    <div class="panel-heading bor-rad-top"  style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                        <h4 class="panel-title">
                            <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"href="#collapseOne">
                                البيانات الأساسية
                            </a>
                        </h4>
                    </div>
                    <ul class="infolist custom-list ">
                        <li>
                            رتبة : لواء أح.
                        </li>
                        <li >
                            التأهيل المدني : بكالوريوس تجارة عين شمس قسم إدارة أعمال عام .
                        </li>
                        <li>
                            
                            تاريخ الميلاد : ١٩٦٦/١٠/١٧.
                        </li>
                        <li >
                            
                            تاريخ التخرج :١٩٨٧/٧/١.
                        </li>
                        <li >
                            
                            تاريخ الترقي للرتبة الحالية :٢٠١٧/١/١.
                        </li>
                        <li >
                            
                            تاريخ تولي القيادة :٢٠١٨/٧/١. 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body box-shadow">

        <div class=" panel-group ">
            <div class="panel panel-default">
                <div class="panel-heading bor-rad-top" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                    <h4 class="panel-title">
                        <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"href="#collapseOne">
                            الوظائف السابق 
                            توليها                        </a>
                    </h4>
                </div>
                <ul class="infolist custom-list ">
                    <li>
                        جميع الوظائف بسلاح المدفعية بدءً من ضابط موقع سرية حتي قائد مدفعية جيش .
                    </li>
                    <li>
                        ض م سرية – قا س / ك ٧١٠مد صا/ ل ٦٩ مد وسط/ فر ١٩ مش / ج ٣ ميد .
                    </li>
                    <li >
                        ر ع ك ٣٠٢ مد م / ل ١١٧ مش ميكا .
                    </li>
                    <li >
                        قا ك ٨٤٧ مد م/ل ٩٠ميكا/فر٩/م م ع . 
                    </li>
                    <li >
                        ر ع ل ٦٠ مد وسط / ج ٣ ميد . 
                    </li>
                    <li >
                        قا ل ٤٤ مد وسط/فر٩م / م م ع . 
                    </li>
                    <li >
                        قا مد فر ٤ م / ج ٣ ميد . 
                    </li>
                    <li >
                        رئيس أركان مدفعية ج ٣ميد . 
                    </li>
                    <li >
                        قائد مدفعية ج ٣ ميد . 
                    </li>
                    <li >
                        مساعد مدير المدفعية . 
                    </li>
                    <li >
                        مدير معهد المدفعية . 
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <!-- .panel-body -->
        <div class="panel-body box-shadow">
            <div class=" panel-group ">
                <div class="panel panel-default">
                    <div class="panel-heading bor-rad-top" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                        <h4 class="panel-title">
                            <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"href="#collapseOne">
                                البعثات
                / المأموريات الخارجية                       </a>
                        </h4>
                    </div>
                    <ul class="infolist custom-list ">
                        <li>
                            مدفعية أساسية ( الولايات المتحدة الامريكية ).
                        </li>
                        <li   >
                            دورة المساحة للمدفعية ( الولايات المتحدة الامريكية ).
                        </li>
                        <li   >
                            زيارة أوائل كلية القادة والأركان ( فرنسا ).
                        </li>
                        <li >
                            بعثة كلية الحرب لجامعة الدفاع الوطنى بواشنطن( الولايات المتحدة الامريكية ).
                        </li>
                        <li >
                            ملحق إدارى بمكتب دفاع ( جنوب أفريقيا ).
                        </li>
                        <li   >
                            دورة الدروس المستفادة من عمليات حفظ السلام ( اليونان ).
                        </li>
                        <li   >
                            زيارة أوائل أكاديمية ناصر العسكرية العليا( السعودية ).
                        </li>
                        <li   >
                            إعداد وصياغة الأوامر المستديمة للقوة الأفريقية الجاهزة ( نيجيريا ).
                        </li>
                        <li   >
                            التفتيش الظاهرى علي قواذف الميلرز( الولايات المتحدة الامريكية ).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .panel-body -->
        <div class="panel-body box-shadow">
            <div class=" panel-group ">
                <div class="panel panel-default">
                    <div class="panel-heading bor-rad-top" style="text-align: center;background-image: linear-gradient(to bottom, #732603, #351d1e); color: white">
                        <h4 class="panel-title">
                            <a style="font-size: medium;" data-toggle="collapse" data-parent="#accordion"href="#collapseOne">
                                الأنواط والنياشين
                            </a>
                        </h4>
                    </div>
                    <ul class="infolist custom-list ">
                        <li >
                            ميدالية الخدمة الطويلة والقدوة الحسنة.
                        </li>
                        <li >
                            ميدالية تحرير الكويت.
                        </li>
                        <li >
                            ميدالية ٢٥ يناير ٢٠١١.
                        </li>
                        <li >
                            ميدالية ٣٠ يونيو ٢٠١٣.
                        </li>
                        <li >
                            نوط الواجب العسكري من الطبقة الأولي.
                        </li>
                        <li >
                            نوط الخدمة الممتازة.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- .panel-body -->
    </div>
    <button class="back_button">
        <a href="/">
            <i class="fa fa-home back"></i>
        </a>
    </button>